UNET_ServiceStatus/Service References/UNET_Service/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UNET_Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UNET_Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Instructor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exercises" nillable="true" type="tns:ArrayOfExercise" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Instructor" nillable="true" type="tns:Instructor" />
  <xs:complexType name="ArrayOfExercise">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Exercise" nillable="true" type="tns:Exercise" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExercise" nillable="true" type="tns:ArrayOfExercise" />
  <xs:complexType name="Exercise">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExerciseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="RadiosAssigned" nillable="true" type="tns:ArrayOfRadio" />
      <xs:element minOccurs="0" name="RolesAssigned" nillable="true" type="tns:ArrayOfRole" />
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
      <xs:element minOccurs="0" name="SpecificationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraineesAssigned" nillable="true" type="tns:ArrayOfTrainee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exercise" nillable="true" type="tns:Exercise" />
  <xs:complexType name="ArrayOfRadio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Radio" nillable="true" type="tns:Radio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRadio" nillable="true" type="tns:ArrayOfRadio" />
  <xs:complexType name="Radio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NoiseLevel" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="tns:UNETRadioState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Radio" nillable="true" type="tns:Radio" />
  <xs:simpleType name="UNETRadioState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rsOff" />
      <xs:enumeration value="rsRx" />
      <xs:enumeration value="rsTx" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UNETRadioState" nillable="true" type="tns:UNETRadioState" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfTrainee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trainee" nillable="true" type="tns:Trainee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrainee" nillable="true" type="tns:ArrayOfTrainee" />
  <xs:complexType name="Trainee">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trainee" nillable="true" type="tns:Trainee" />
  <xs:complexType name="ArrayOfInstructor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Instructor" nillable="true" type="tns:Instructor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstructor" nillable="true" type="tns:ArrayOfInstructor" />
  <xs:complexType name="ArrayOfPlatform">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Platform" nillable="true" type="tns:Platform" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlatform" nillable="true" type="tns:ArrayOfPlatform" />
  <xs:complexType name="Platform">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Platform" nillable="true" type="tns:Platform" />
  <xs:complexType name="CurrentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsoleRole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExerciseMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExerciseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InstructorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrentInfo" nillable="true" type="tns:CurrentInfo" />
</xs:schema>