UNET_ServiceStatus/Service References/UNET_Service/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/UNET_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UNET_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://spectreyggdra/UNET_Service/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="PTTuser">
    <xs:restriction base="xs:string">
      <xs:enumeration value="puTrainee" />
      <xs:enumeration value="puInstructor" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PTTuser" nillable="true" type="tns:PTTuser" />
  <xs:complexType name="ArrayOfPTTcaller">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PTTcaller" nillable="true" type="tns:PTTcaller" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPTTcaller" nillable="true" type="tns:ArrayOfPTTcaller" />
  <xs:complexType name="PTTcaller">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acknowledged" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="PTTCallerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PTTDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User" type="tns:PTTuser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PTTcaller" nillable="true" type="tns:PTTcaller" />
  <xs:complexType name="EventDataType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDataType" nillable="true" type="tns:EventDataType" />
</xs:schema>