UNET_Tester/Service References/UNET_Service/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/UNET_Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UNET_Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://spectreyggdra/UNET_Service/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfPointToPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PointToPoint" nillable="true" type="tns:PointToPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPointToPoint" nillable="true" type="tns:ArrayOfPointToPoint" />
  <xs:complexType name="PointToPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcknowledgeTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Acknowledged" type="xs:boolean" />
      <xs:element minOccurs="0" name="AcknowledgedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExerciseNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="RequestTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TraineeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PointToPoint" nillable="true" type="tns:PointToPoint" />
  <xs:complexType name="ArrayOfAssist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Assist" nillable="true" type="tns:Assist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssist" nillable="true" type="tns:ArrayOfAssist" />
  <xs:complexType name="Assist">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcknowledgeTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Acknowledged" type="xs:boolean" />
      <xs:element minOccurs="0" name="AcknowledgedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="RequestTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TraineeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraineeInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Assist" nillable="true" type="tns:Assist" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlatformsAssigned" nillable="true" type="tns:ArrayOfPlatform" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfPlatform">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Platform" nillable="true" type="tns:Platform" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlatform" nillable="true" type="tns:ArrayOfPlatform" />
  <xs:complexType name="Platform">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ShortDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Platform" nillable="true" type="tns:Platform" />
  <xs:complexType name="Trainee">
    <xs:sequence>
      <xs:element minOccurs="0" name="FreeswitchID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Online" type="xs:boolean" />
      <xs:element minOccurs="0" name="Radios" nillable="true" type="tns:ArrayOfRadio" />
      <xs:element minOccurs="0" name="RegisteredSince" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trainee" nillable="true" type="tns:Trainee" />
  <xs:complexType name="ArrayOfRadio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Radio" nillable="true" type="tns:Radio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRadio" nillable="true" type="tns:ArrayOfRadio" />
  <xs:complexType name="Radio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Frequency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NoiseLevel" type="xs:int" />
      <xs:element minOccurs="0" name="SpecialEffect" type="tns:UNETSpecialEffect" />
      <xs:element minOccurs="0" name="State" type="tns:UNETRadioState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Radio" nillable="true" type="tns:Radio" />
  <xs:simpleType name="UNETSpecialEffect">
    <xs:restriction base="xs:string">
      <xs:enumeration value="seUHF" />
      <xs:enumeration value="seVHF" />
      <xs:enumeration value="seHF" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UNETSpecialEffect" nillable="true" type="tns:UNETSpecialEffect" />
  <xs:simpleType name="UNETRadioState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rsOff" />
      <xs:enumeration value="rsRx" />
      <xs:enumeration value="rsTx" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UNETRadioState" nillable="true" type="tns:UNETRadioState" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Instructor">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedRoles" nillable="true" type="tns:ArrayOfRole" />
      <xs:element minOccurs="0" name="Exercises" nillable="true" type="tns:ArrayOfExercise" />
      <xs:element minOccurs="0" name="FreeswitchID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Online" type="xs:boolean" />
      <xs:element minOccurs="0" name="TraineesAssigned" nillable="true" type="tns:ArrayOfTrainee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Instructor" nillable="true" type="tns:Instructor" />
  <xs:complexType name="ArrayOfExercise">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Exercise" nillable="true" type="tns:Exercise" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExercise" nillable="true" type="tns:ArrayOfExercise" />
  <xs:complexType name="Exercise">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedInstructorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExerciseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="PlatformsAssigned" nillable="true" type="tns:ArrayOfPlatform" />
      <xs:element minOccurs="0" name="RadiosAssigned" nillable="true" type="tns:ArrayOfRadio" />
      <xs:element minOccurs="0" name="RolesAssigned" nillable="true" type="tns:ArrayOfRole" />
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
      <xs:element minOccurs="0" name="SpecificationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraineesAssigned" nillable="true" type="tns:ArrayOfTrainee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exercise" nillable="true" type="tns:Exercise" />
  <xs:complexType name="ArrayOfTrainee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trainee" nillable="true" type="tns:Trainee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrainee" nillable="true" type="tns:ArrayOfTrainee" />
  <xs:complexType name="ArrayOfInstructor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Instructor" nillable="true" type="tns:Instructor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstructor" nillable="true" type="tns:ArrayOfInstructor" />
  <xs:complexType name="CurrentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsoleRole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExerciseMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExerciseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExerciseNumber" type="xs:int" />
      <xs:element minOccurs="0" name="InstructorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Radios" nillable="true" type="tns:ArrayOfRadio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrentInfo" nillable="true" type="tns:CurrentInfo" />
</xs:schema>