UNET_Trainer/Service References/UNET_Service/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://spectreyggdra/UNET_Service/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UNET_Service" />
  <xs:import schemaLocation="http://spectreyggdra/UNET_Service/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections" />
  <xs:import schemaLocation="http://spectreyggdra/UNET_Service/Service1.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/UNET_Classes" />
  <xs:import schemaLocation="http://spectreyggdra/UNET_Service/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DisconnectVCS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectVCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisconnectVCSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reset">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPTT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_traineeInstructorID" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UNET_Service" minOccurs="0" name="_pttUser" type="q1:PTTuser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPTTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcknowledgePTT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_traineeInstructorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcknowledgePTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcknowledgePTTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPTTQueue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPTTQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Collections" minOccurs="0" name="GetPTTQueueResult" nillable="true" type="q2:Queue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAssist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_traineeId" type="xs:int" />
        <xs:element minOccurs="0" name="_traineeInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAssistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAssistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcknowledgeAssist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_instructorID" type="xs:int" />
        <xs:element minOccurs="0" name="_traineeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcknowledgeAssistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcknowledgeAssistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_instructorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="GetAssistsResult" nillable="true" type="q3:ArrayOfAssist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInstructorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_instructorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInstructorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="GetAllInstructorDataResult" nillable="true" type="q4:Instructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExercises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExercisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="GetExercisesResult" nillable="true" type="q5:ArrayOfExercise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="GetRolesResult" nillable="true" type="q6:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="GetRadiosResult" nillable="true" type="q7:ArrayOfRadio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="GetInstructorsResult" nillable="true" type="q8:ArrayOfInstructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInstructorsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInstructorsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetInstructorsCountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraineesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="GetTraineesResult" nillable="true" type="q9:ArrayOfTrainee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatforms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatformsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="GetPlatformsResult" nillable="true" type="q10:ArrayOfPlatform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExerciseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_traineeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExerciseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="GetExerciseInfoResult" nillable="true" type="q11:CurrentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraineeStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraineeStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTraineeStatusResult" nillable="true" type="q12:ArrayOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraineeStatusChanged">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraineeStatusChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTraineeStatusChangedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoiseLevelChanged">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoiseLevelChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNoiseLevelChangedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoiseLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_radioID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoiseLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNoiseLevelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingChanges">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPendingChangesResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_clientID" type="xs:int" />
        <xs:element minOccurs="0" name="_displayName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_isTrainee" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_clientID" type="xs:int" />
        <xs:element minOccurs="0" name="_isTrainee" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnRegisterClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UNET_Service" minOccurs="0" name="eventData" nillable="true" type="q13:EventDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExerciseCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExerciseCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetExerciseCountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExerciseSelected">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_instructor" type="xs:int" />
        <xs:element minOccurs="0" name="_exerciseIndex" type="xs:int" />
        <xs:element minOccurs="0" name="_select" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExerciseSelectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetExerciseSelectedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExercises">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="_exercises" nillable="true" type="q14:ArrayOfExercise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExercisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetExercisesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="_role" nillable="true" type="q15:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRolesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRolesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRolesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRolesCountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRadios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="_radio" nillable="true" type="q16:ArrayOfRadio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRadiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRadiosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRadioStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_radioNumber" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="_state" type="q17:UNETRadioState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRadioStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRadioStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRadiosCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRadiosCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRadiosCountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTraineesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTraineesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTraineesCountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInstructors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="_instructor" nillable="true" type="q18:ArrayOfInstructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInstructorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetInstructorsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTrainees">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="_trainee" nillable="true" type="q19:ArrayOfTrainee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTraineesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTraineesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlatforms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/UNET_Classes" minOccurs="0" name="_platform" nillable="true" type="q20:ArrayOfPlatform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlatformsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPlatformsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTraineeStatusChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_traineeId" type="xs:int" />
        <xs:element minOccurs="0" name="_changed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTraineeStatusChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTraineeStatusChangedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRoleAssignedStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_instructorID" type="xs:int" />
        <xs:element minOccurs="0" name="_exersiseID" type="xs:int" />
        <xs:element minOccurs="0" name="_role" type="xs:int" />
        <xs:element minOccurs="0" name="_add" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRoleAssignedStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRoleAssignedStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTraineeAssignedStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_instructorID" type="xs:int" />
        <xs:element minOccurs="0" name="_exersiseID" type="xs:int" />
        <xs:element minOccurs="0" name="_traineeID" type="xs:int" />
        <xs:element minOccurs="0" name="_add" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTraineeAssignedStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTraineeAssignedStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRadioAssignedStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_instructorID" type="xs:int" />
        <xs:element minOccurs="0" name="_exersiseID" type="xs:int" />
        <xs:element minOccurs="0" name="_radio" type="xs:int" />
        <xs:element minOccurs="0" name="_add" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRadioAssignedStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRadioAssignedStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNoiseLevelChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_radioId" type="xs:int" />
        <xs:element minOccurs="0" name="_changed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNoiseLevelChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNoiseLevelChangedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNoiseLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_radioID" type="xs:int" />
        <xs:element minOccurs="0" name="_noiselevel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNoiseLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNoiseLevelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>