UNET_Trainer/Service References/UNET_Service/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://spectreyggdra/UNET_Service/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Queue">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_array" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element name="_growFactor" type="xs:int" />
      <xs:element name="_head" type="xs:int" />
      <xs:element name="_size" type="xs:int" />
      <xs:element name="_tail" type="xs:int" />
      <xs:element name="_version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Queue" nillable="true" type="tns:Queue" />
</xs:schema>