UNET_Trainer_Trainee/Service References/UNET_Service/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="SecureHttp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://spectreyggdra/UNET_Service/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://spectreyggdra/UNET_Service/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://spectreyggdra/UNET_Service/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UNET_Service" />
      <xsd:import schemaLocation="http://spectreyggdra/UNET_Service/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UNET_Classes" />
      <xsd:import schemaLocation="http://spectreyggdra/UNET_Service/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_DisconnectVCS_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectVCS" />
  </wsdl:message>
  <wsdl:message name="IService1_DisconnectVCS_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectVCSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Reset_InputMessage">
    <wsdl:part name="parameters" element="tns:Reset" />
  </wsdl:message>
  <wsdl:message name="IService1_Reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IService1_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IService1_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPTT_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPTT" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPTT_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPTTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AcknowledgePTT_InputMessage">
    <wsdl:part name="parameters" element="tns:AcknowledgePTT" />
  </wsdl:message>
  <wsdl:message name="IService1_AcknowledgePTT_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcknowledgePTTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPTTQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPTTQueue" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPTTQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPTTQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAssist_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAssist" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAssist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAssistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AcknowledgeAssist_InputMessage">
    <wsdl:part name="parameters" element="tns:AcknowledgeAssist" />
  </wsdl:message>
  <wsdl:message name="IService1_AcknowledgeAssist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcknowledgeAssistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAssists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssists" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAssists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssistsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRole" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTrainee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTrainee" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTrainee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTraineeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInstructor" />
  </wsdl:message>
  <wsdl:message name="IService1_AddInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInstructorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPlatform_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlatform" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPlatform_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlatformResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRadioObject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRadioObject" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRadioObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRadioObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExercise_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExercise" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExercise_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExerciseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRadio_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRadio" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRadio_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRadioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRadioToExercise_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRadioToExercise" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRadioToExercise_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRadioToExerciseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPlatformToExercise_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlatformToExercise" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPlatformToExercise_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlatformToExerciseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRoleToExercise_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRoleToExercise" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRoleToExercise_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRoleToExerciseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTraineeToExercise_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTraineeToExercise" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTraineeToExercise_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTraineeToExerciseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddInstructorRadio_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInstructorRadio" />
  </wsdl:message>
  <wsdl:message name="IService1_AddInstructorRadio_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInstructorRadioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllInstructorData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInstructorData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllInstructorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInstructorDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExercises_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExercises" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExercises_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExercisesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRadios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRadios" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRadios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRadiosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInstructors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInstructors" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInstructors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInstructorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetInstructorsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:SetInstructorsCount" />
  </wsdl:message>
  <wsdl:message name="IService1_SetInstructorsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetInstructorsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTrainees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainees" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTrainees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTraineesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlatforms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlatforms" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlatforms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlatformsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExerciseInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExerciseInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExerciseInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExerciseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTraineeStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTraineeStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTraineeStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTraineeStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTraineeStatusChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTraineeStatusChanged" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTraineeStatusChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTraineeStatusChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNoiseLevelChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNoiseLevelChanged" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNoiseLevelChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNoiseLevelChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNoiseLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNoiseLevel" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNoiseLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNoiseLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPendingChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingChanges" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPendingChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UnRegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterClient" />
  </wsdl:message>
  <wsdl:message name="IService1_UnRegisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NotifyServer_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyServer" />
  </wsdl:message>
  <wsdl:message name="IService1_NotifyServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyServerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetExerciseCount_InputMessage">
    <wsdl:part name="parameters" element="tns:SetExerciseCount" />
  </wsdl:message>
  <wsdl:message name="IService1_SetExerciseCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetExerciseCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetExerciseSelected_InputMessage">
    <wsdl:part name="parameters" element="tns:SetExerciseSelected" />
  </wsdl:message>
  <wsdl:message name="IService1_SetExerciseSelected_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetExerciseSelectedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetExercises_InputMessage">
    <wsdl:part name="parameters" element="tns:SetExercises" />
  </wsdl:message>
  <wsdl:message name="IService1_SetExercises_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetExercisesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRoles" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRolesCount_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRolesCount" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRolesCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRolesCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRadios_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRadios" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRadios_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRadiosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRadioStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRadioStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRadioStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRadioStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRadiosCount_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRadiosCount" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRadiosCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRadiosCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTraineesCount_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTraineesCount" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTraineesCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTraineesCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetInstructors_InputMessage">
    <wsdl:part name="parameters" element="tns:SetInstructors" />
  </wsdl:message>
  <wsdl:message name="IService1_SetInstructors_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetInstructorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTrainees_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTrainees" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTrainees_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTraineesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPlatforms_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPlatforms" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPlatforms_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPlatformsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTraineeStatusChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTraineeStatusChanged" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTraineeStatusChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTraineeStatusChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRoleAssignedStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRoleAssignedStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRoleAssignedStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRoleAssignedStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTraineeAssignedStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTraineeAssignedStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTraineeAssignedStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTraineeAssignedStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRadioAssignedStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRadioAssignedStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRadioAssignedStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRadioAssignedStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetNoiseLevelChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNoiseLevelChanged" />
  </wsdl:message>
  <wsdl:message name="IService1_SetNoiseLevelChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNoiseLevelChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetNoiseLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNoiseLevel" />
  </wsdl:message>
  <wsdl:message name="IService1_SetNoiseLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNoiseLevelResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="DisconnectVCS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DisconnectVCS" message="tns:IService1_DisconnectVCS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DisconnectVCSResponse" message="tns:IService1_DisconnectVCS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Reset" message="tns:IService1_Reset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ResetResponse" message="tns:IService1_Reset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Start" message="tns:IService1_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StartResponse" message="tns:IService1_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Stop" message="tns:IService1_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StopResponse" message="tns:IService1_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPTT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPTT" message="tns:IService1_AddPTT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPTTResponse" message="tns:IService1_AddPTT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcknowledgePTT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AcknowledgePTT" message="tns:IService1_AcknowledgePTT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AcknowledgePTTResponse" message="tns:IService1_AcknowledgePTT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPTTQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPTTQueue" message="tns:IService1_GetPTTQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPTTQueueResponse" message="tns:IService1_GetPTTQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAssist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateAssist" message="tns:IService1_CreateAssist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateAssistResponse" message="tns:IService1_CreateAssist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcknowledgeAssist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AcknowledgeAssist" message="tns:IService1_AcknowledgeAssist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AcknowledgeAssistResponse" message="tns:IService1_AcknowledgeAssist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAssists" message="tns:IService1_GetAssists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAssistsResponse" message="tns:IService1_GetAssists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddRole" message="tns:IService1_AddRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddRoleResponse" message="tns:IService1_AddRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTrainee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddTrainee" message="tns:IService1_AddTrainee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddTraineeResponse" message="tns:IService1_AddTrainee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddInstructor" message="tns:IService1_AddInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddInstructorResponse" message="tns:IService1_AddInstructor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPlatform">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPlatform" message="tns:IService1_AddPlatform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPlatformResponse" message="tns:IService1_AddPlatform_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRadioObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddRadioObject" message="tns:IService1_AddRadioObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddRadioObjectResponse" message="tns:IService1_AddRadioObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExercise">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddExercise" message="tns:IService1_AddExercise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddExerciseResponse" message="tns:IService1_AddExercise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRadio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddRadio" message="tns:IService1_AddRadio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddRadioResponse" message="tns:IService1_AddRadio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRadioToExercise">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddRadioToExercise" message="tns:IService1_AddRadioToExercise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddRadioToExerciseResponse" message="tns:IService1_AddRadioToExercise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPlatformToExercise">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPlatformToExercise" message="tns:IService1_AddPlatformToExercise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPlatformToExerciseResponse" message="tns:IService1_AddPlatformToExercise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRoleToExercise">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddRoleToExercise" message="tns:IService1_AddRoleToExercise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddRoleToExerciseResponse" message="tns:IService1_AddRoleToExercise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTraineeToExercise">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddTraineeToExercise" message="tns:IService1_AddTraineeToExercise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddTraineeToExerciseResponse" message="tns:IService1_AddTraineeToExercise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddInstructorRadio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddInstructorRadio" message="tns:IService1_AddInstructorRadio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddInstructorRadioResponse" message="tns:IService1_AddInstructorRadio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInstructorData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllInstructorData" message="tns:IService1_GetAllInstructorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllInstructorDataResponse" message="tns:IService1_GetAllInstructorData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExercises">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetExercises" message="tns:IService1_GetExercises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetExercisesResponse" message="tns:IService1_GetExercises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRoles" message="tns:IService1_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRolesResponse" message="tns:IService1_GetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRadios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRadios" message="tns:IService1_GetRadios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRadiosResponse" message="tns:IService1_GetRadios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInstructors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetInstructors" message="tns:IService1_GetInstructors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetInstructorsResponse" message="tns:IService1_GetInstructors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetInstructorsCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetInstructorsCount" message="tns:IService1_SetInstructorsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetInstructorsCountResponse" message="tns:IService1_SetInstructorsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrainees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTrainees" message="tns:IService1_GetTrainees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTraineesResponse" message="tns:IService1_GetTrainees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlatforms">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPlatforms" message="tns:IService1_GetPlatforms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPlatformsResponse" message="tns:IService1_GetPlatforms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExerciseInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetExerciseInfo" message="tns:IService1_GetExerciseInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetExerciseInfoResponse" message="tns:IService1_GetExerciseInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTraineeStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTraineeStatus" message="tns:IService1_GetTraineeStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTraineeStatusResponse" message="tns:IService1_GetTraineeStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTraineeStatusChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTraineeStatusChanged" message="tns:IService1_GetTraineeStatusChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTraineeStatusChangedResponse" message="tns:IService1_GetTraineeStatusChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNoiseLevelChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNoiseLevelChanged" message="tns:IService1_GetNoiseLevelChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNoiseLevelChangedResponse" message="tns:IService1_GetNoiseLevelChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNoiseLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNoiseLevel" message="tns:IService1_GetNoiseLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNoiseLevelResponse" message="tns:IService1_GetNoiseLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPendingChanges" message="tns:IService1_GetPendingChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPendingChangesResponse" message="tns:IService1_GetPendingChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterClient" message="tns:IService1_RegisterClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterClientResponse" message="tns:IService1_RegisterClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UnRegisterClient" message="tns:IService1_UnRegisterClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UnRegisterClientResponse" message="tns:IService1_UnRegisterClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NotifyServer" message="tns:IService1_NotifyServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NotifyServerResponse" message="tns:IService1_NotifyServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetExerciseCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetExerciseCount" message="tns:IService1_SetExerciseCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetExerciseCountResponse" message="tns:IService1_SetExerciseCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetExerciseSelected">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetExerciseSelected" message="tns:IService1_SetExerciseSelected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetExerciseSelectedResponse" message="tns:IService1_SetExerciseSelected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetExercises">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetExercises" message="tns:IService1_SetExercises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetExercisesResponse" message="tns:IService1_SetExercises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetRoles" message="tns:IService1_SetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetRolesResponse" message="tns:IService1_SetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRolesCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetRolesCount" message="tns:IService1_SetRolesCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetRolesCountResponse" message="tns:IService1_SetRolesCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRadios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetRadios" message="tns:IService1_SetRadios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetRadiosResponse" message="tns:IService1_SetRadios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRadioStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetRadioStatus" message="tns:IService1_SetRadioStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetRadioStatusResponse" message="tns:IService1_SetRadioStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRadiosCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetRadiosCount" message="tns:IService1_SetRadiosCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetRadiosCountResponse" message="tns:IService1_SetRadiosCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTraineesCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetTraineesCount" message="tns:IService1_SetTraineesCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetTraineesCountResponse" message="tns:IService1_SetTraineesCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetInstructors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetInstructors" message="tns:IService1_SetInstructors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetInstructorsResponse" message="tns:IService1_SetInstructors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTrainees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetTrainees" message="tns:IService1_SetTrainees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetTraineesResponse" message="tns:IService1_SetTrainees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPlatforms">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetPlatforms" message="tns:IService1_SetPlatforms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetPlatformsResponse" message="tns:IService1_SetPlatforms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTraineeStatusChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetTraineeStatusChanged" message="tns:IService1_SetTraineeStatusChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetTraineeStatusChangedResponse" message="tns:IService1_SetTraineeStatusChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRoleAssignedStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetRoleAssignedStatus" message="tns:IService1_SetRoleAssignedStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetRoleAssignedStatusResponse" message="tns:IService1_SetRoleAssignedStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTraineeAssignedStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetTraineeAssignedStatus" message="tns:IService1_SetTraineeAssignedStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetTraineeAssignedStatusResponse" message="tns:IService1_SetTraineeAssignedStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRadioAssignedStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetRadioAssignedStatus" message="tns:IService1_SetRadioAssignedStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetRadioAssignedStatusResponse" message="tns:IService1_SetRadioAssignedStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNoiseLevelChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetNoiseLevelChanged" message="tns:IService1_SetNoiseLevelChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetNoiseLevelChangedResponse" message="tns:IService1_SetNoiseLevelChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNoiseLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetNoiseLevel" message="tns:IService1_SetNoiseLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetNoiseLevelResponse" message="tns:IService1_SetNoiseLevel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecureHttp" type="tns:IService1">
    <wsp:PolicyReference URI="#SecureHttp_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DisconnectVCS">
      <soap12:operation soapAction="http://tempuri.org/IService1/DisconnectVCS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <soap12:operation soapAction="http://tempuri.org/IService1/Reset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/IService1/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap12:operation soapAction="http://tempuri.org/IService1/Stop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPTT">
      <soap12:operation soapAction="http://tempuri.org/IService1/AddPTT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcknowledgePTT">
      <soap12:operation soapAction="http://tempuri.org/IService1/AcknowledgePTT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPTTQueue">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetPTTQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAssist">
      <soap12:operation soapAction="http://tempuri.org/IService1/CreateAssist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcknowledgeAssist">
      <soap12:operation soapAction="http://tempuri.org/IService1/AcknowledgeAssist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssists">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetAssists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <soap12:operation soapAction="http://tempuri.org/IService1/AddRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTrainee">
      <soap12:operation soapAction="http://tempuri.org/IService1/AddTrainee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInstructor">
      <soap12:operation soapAction="http://tempuri.org/IService1/AddInstructor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlatform">
      <soap12:operation soapAction="http://tempuri.org/IService1/AddPlatform" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRadioObject">
      <soap12:operation soapAction="http://tempuri.org/IService1/AddRadioObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExercise">
      <soap12:operation soapAction="http://tempuri.org/IService1/AddExercise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRadio">
      <soap12:operation soapAction="http://tempuri.org/IService1/AddRadio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRadioToExercise">
      <soap12:operation soapAction="http://tempuri.org/IService1/AddRadioToExercise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlatformToExercise">
      <soap12:operation soapAction="http://tempuri.org/IService1/AddPlatformToExercise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRoleToExercise">
      <soap12:operation soapAction="http://tempuri.org/IService1/AddRoleToExercise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTraineeToExercise">
      <soap12:operation soapAction="http://tempuri.org/IService1/AddTraineeToExercise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInstructorRadio">
      <soap12:operation soapAction="http://tempuri.org/IService1/AddInstructorRadio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInstructorData">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetAllInstructorData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExercises">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetExercises" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRadios">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetRadios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstructors">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetInstructors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInstructorsCount">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetInstructorsCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrainees">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetTrainees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlatforms">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetPlatforms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExerciseInfo">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetExerciseInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTraineeStatus">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetTraineeStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTraineeStatusChanged">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetTraineeStatusChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNoiseLevelChanged">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetNoiseLevelChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNoiseLevel">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetNoiseLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingChanges">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetPendingChanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterClient">
      <soap12:operation soapAction="http://tempuri.org/IService1/RegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegisterClient">
      <soap12:operation soapAction="http://tempuri.org/IService1/UnRegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyServer">
      <soap12:operation soapAction="http://tempuri.org/IService1/NotifyServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExerciseCount">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetExerciseCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExerciseSelected">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetExerciseSelected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExercises">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetExercises" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRoles">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRolesCount">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetRolesCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRadios">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetRadios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRadioStatus">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetRadioStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRadiosCount">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetRadiosCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTraineesCount">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetTraineesCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInstructors">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetInstructors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTrainees">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetTrainees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPlatforms">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetPlatforms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTraineeStatusChanged">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetTraineeStatusChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRoleAssignedStatus">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetRoleAssignedStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTraineeAssignedStatus">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetTraineeAssignedStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRadioAssignedStatus">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetRadioAssignedStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNoiseLevelChanged">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetNoiseLevelChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNoiseLevel">
      <soap12:operation soapAction="http://tempuri.org/IService1/SetNoiseLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="SecureHttp" binding="tns:SecureHttp">
      <soap12:address location="http://spectreyggdra/UNET_Service/Service1.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://spectreyggdra/UNET_Service/Service1.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>