UNET_Trainer_Trainee/Service References/UNET_Service/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://spectreyggdra/UNET_Service/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UNET_Service.Classes" />
  <xs:import schemaLocation="http://spectreyggdra/UNET_Service/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetExercises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExercisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UNET_Service.Classes" minOccurs="0" name="GetExercisesResult" nillable="true" type="q1:ArrayOfExercise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UNET_Service.Classes" minOccurs="0" name="GetRolesResult" nillable="true" type="q2:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UNET_Service.Classes" minOccurs="0" name="GetRadiosResult" nillable="true" type="q3:ArrayOfRadio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UNET_Service.Classes" minOccurs="0" name="GetInstructorsResult" nillable="true" type="q4:ArrayOfInstructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraineesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UNET_Service.Classes" minOccurs="0" name="GetTraineesResult" nillable="true" type="q5:ArrayOfTrainee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatforms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatformsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UNET_Service.Classes" minOccurs="0" name="GetPlatformsResult" nillable="true" type="q6:ArrayOfPlatform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExerciseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_traineeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExerciseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UNET_Service.Classes" minOccurs="0" name="GetExerciseInfoResult" nillable="true" type="q7:CurrentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraineeStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraineeStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTraineeStatusResult" nillable="true" type="q8:ArrayOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraineeStatusChanged">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraineeStatusChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TraineeStatusChangedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTrainee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UNET_Service.Classes" minOccurs="0" name="_currentInfo" nillable="true" type="q9:CurrentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTraineeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterTraineeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExerciseCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExerciseCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetExerciseCountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExercises">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UNET_Service.Classes" minOccurs="0" name="_exercises" nillable="true" type="q10:ArrayOfExercise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExercisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetExercisesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UNET_Service.Classes" minOccurs="0" name="_role" nillable="true" type="q11:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRolesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRolesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRolesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRolesCountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRadios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UNET_Service.Classes" minOccurs="0" name="_radio" nillable="true" type="q12:ArrayOfRadio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRadiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRadiosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRadiosCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRadiosCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRadiosCountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTraineesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTraineesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTraineesCountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInstructors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UNET_Service.Classes" minOccurs="0" name="_instructor" nillable="true" type="q13:ArrayOfInstructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInstructorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetInstructorsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTrainees">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UNET_Service.Classes" minOccurs="0" name="_trainee" nillable="true" type="q14:ArrayOfTrainee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTraineesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTraineesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlatforms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/UNET_Service.Classes" minOccurs="0" name="_platform" nillable="true" type="q15:ArrayOfPlatform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlatformsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPlatformsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>