UNET_Trainer_Trainee/Service References/UNET_Service/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://spectreyggdra/UNET_Service/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UNET_Service" />
  <xs:complexType name="QueueOfPTTcallerdJ8jZ8Dr">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="QueueOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PTTcaller" Namespace="http://schemas.datacontract.org/2004/07/UNET_Service" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UNET_Service" name="_array" nillable="true" type="q1:ArrayOfPTTcaller" />
      <xs:element name="_head" type="xs:int" />
      <xs:element name="_size" type="xs:int" />
      <xs:element name="_tail" type="xs:int" />
      <xs:element name="_version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueOfPTTcallerdJ8jZ8Dr" nillable="true" type="tns:QueueOfPTTcallerdJ8jZ8Dr" />
</xs:schema>