UNET_Trainer_Trainee/Service References/UNET_Service/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UNET_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UNET_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="PTTuser">
    <xs:restriction base="xs:string">
      <xs:enumeration value="puTrainee" />
      <xs:enumeration value="puInstructor" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PTTuser" nillable="true" type="tns:PTTuser" />
  <xs:complexType name="EventDataType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDataType" nillable="true" type="tns:EventDataType" />
</xs:schema>